# Node.js packages
node_modules/

# NYC coverage temp
.nyc_output/
coverage/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Optional: npm debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*